@import "tailwindcss";

*{
  box-sizing: border-box;
}

body {
  background: #f8fafc;
}

@font-face {
  font-family: "Righteous-Regular";
  src: url("./fonts/Righteous-Regular.woff");
}

@theme{
  --font-Righteous: "Righteous-Regular";
  --color-primary: #34d399; 
  --color-secondary: #475569; 
  --color-footer-border: #32cd95; 
  --color-footer-bg: #0f172a; 
  --color-light-grey: #d6d3dc; 
}

