@import "tailwindcss";

*{
  box-sizing: border-box;
}

body {
  background: #f8fafc;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family:
    Open Sans,
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "Righteous-Regular";
  src: url("./fonts/Righteous-Regular.woff");
}

@theme{
  --font-Righteous: "Righteous-Regular";
}
